@import url("https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap");

// Colors
$white: #f5f9fa;
$black: #261f08;
$gray: #4c4c4c;
$light-gray: #ecf0f1;
$yellow: #ffda5f;
$red: #ff6464;

// Fonts
$serif: "Markazi Text", serif;
