@import "globals";

header {
  max-width: 750px;
  margin: 0 auto;
}

main {
  margin: 0 auto;
  max-width: 750px;
}

.memes {
  max-width: 770px;
}

.btn {
  display: inline-block;
  padding: 15px;
  background: $gray;
  color: $light-gray;
  border-radius: 3rem;

  &:hover {
    background: $yellow;
    color: $gray;
  }
}

.btn--fixed {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.pill {
  display: flex;
  border-radius: 100px;
  color: white;
  font-size: 18px;
  padding: 3px 14px;
  overflow: hidden;
  position: relative;
  background: $gray;
  margin-right: 5px;
  align-items: center;

  &:last-child {
    margin-right: unset;
  }

  i {
    transform: scale(0.7);
  }
}

.pill--add {
  padding: 3px 6px;
  background: $light-gray;
  color: $gray;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  position: fixed;
}
