@import "globals";

header {
  max-width: 750px;
  margin: 0 auto;
}

main {
  margin: 0 auto;
  max-width: 750px;
}

.memes {
  max-width: 770px;
}

.btn {
  display: inline-block;
  padding: 15px;
  background: $gray;
  color: $light-gray;
  border-radius: 3rem;

  &:hover {
    background: $yellow;
    color: $gray;
  }
}

.btn--fixed {
  position: fixed;
  bottom: 30px;
  right: 30px;
}
