// Place all the styles related to the Commands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "globals";

.commands {
  display: flex;
}

.close-btn {
  color: $red;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

#new-command-form {
  display: none;
}
