// Place all the styles related to the Memes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "globals";

.meme {
  background: $light-gray;
  border-radius: 7px;
  padding: 20px;
  margin: 20px 0;
  font-size: 26px;
  position: relative;
  overflow: hidden;
}

.meme-progress-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background: $yellow;
  transition: width 250ms linear;
}

.meme-content {
  position: relative;
  display: grid;
  gap: 10px;
  align-items: center;
  grid: 1fr / auto 1fr auto auto auto;
}

.meme-name {
  flex-grow: 1;
  color: $gray;
  text-decoration: none;

  &:visited {
    color: $gray;
  }
}

.meme-icon {
  color: $gray;
  height: 22px;

  &:hover {
    text-decoration: none;
  }
}

.trash,
.pen {
  width: 22px;
  height: 22px;
}

.meme-play,
.meme-stop {
  cursor: pointer;
}

.meme-play {
  width: 31px;
  height: 30px;
}

.meme-stop {
  width: 31px;
  height: 30px;
  display: none;
}

.memes-search {
  width: 100%;
  background: $yellow;
  padding: 10px;
  box-sizing: border-box;
  border: 0;
  font-size: 26px;
  font-family: $serif;
  border-radius: 7px;
  margin-top: 10px;

  &::placeholder {
    color: $gray;
  }
}
