<div class="command pill">
  <%= command.name %>
  <%= link_to [command.meme, command],
              method: :delete,
              data: { confirm: "Are you sure?" } do%>
    
    <i class="gg-close"></i>
  <% end %>
  <div class="command-bg"></div>
</div>